<div class="detail-container">

  <div class="detail-header">
    <div class="detail-title">
      <p> {{ detail.title }} </p>
    </div>
    <div class="detail-subtitle">
      <p> {{ detail.subtitle }} </p>
    </div>
  </div>

  <div class="detail-content">
    <div class="campaign-list-item">
      <div class="campaign-list-item-date">
        <p> Juni 2018 </p>
      </div>
      <div class="campaign-list-item-name">
        <mat-icon>assignment_returned</mat-icon>
        <p> {{ detail.content.name }} </p>
      </div>
    </div>
    <div class="campaign-list-item">
      <div class="campaign-list-item-date">
        <p> Juni 2018 </p>
      </div>
      <div class="campaign-list-item-name">
        <mat-icon>assignment_returned</mat-icon>
        <p> {{ detail.content.name }} </p>
      </div>
    </div>
    <div class="campaign-list-item">
      <div class="campaign-list-item-date">
        <p> Juni 2018 </p>
      </div>
      <div class="campaign-list-item-name">
        <mat-icon>assignment_returned</mat-icon>
        <p> {{ detail.content.name }} </p>
      </div>
    </div>
  </div>
</div>
